/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif; 
    background-color: rgb(250, 6, 6); 
}

/* Estilo para o topo da página */
#topo {
    position: fixed; 
    top: 10px; 
    left: 50%; 
    transform: translateX(-50%); 
    color: white; 
    display: flex; 
    flex-direction: column; /* Empilha a informação e os botões */
    align-items: center; /* Centraliza horizontalmente */
    
}

/* Estilo para o objeto (bola) */
#objeto {
    width: 50px; 
    height: 50px; 
    background-color: rgb(63, 13, 242); 
    border-radius: 50%; 
    position: absolute; 
    top: 100px; 
}

